/**
 * @FONTS
 * =============================================================================
 *
 * fonts.css v0.0.1 | GNU GPL License | 
 *
 */

/*
 * This file is part of Aforcado game.
 *
 * Aforcado game is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * Aforcado game is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
 * Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Aforcado game. If not, see <https://www.gnu.org/licenses/>.
 *
 */

/*
    Compatibility
    ----------------------------------------------------------------------------
    1. IE9 Compat Modes
    2. IE6-IE8
    3. Super Modern Browsers
    4. Pretty Modern Browsers
    5. Safari, Android, iOS
    6. Legacy iOS
*/

@font-face
{
    font-family: "EMcomic";
    src: url("../fonts/EMcomic_Bold.eot"); /* 1 */
    src: url("../fonts/EMcomic_Bold.eot?#iefix") format("embedded-opentype"), /* 2 */
        url("../fonts/EMcomic_Bold.woff2") format("woff2"), /* 3 */
        url("../fonts/EMcomic_Bold.woff") format("woff"), /* 4 */
        url("../fonts/EMcomic_Bold.otf") format("opentype"), /* 5 */
        url("../fonts/EMcomic_Bold.ttf") format("truetype"), /* 5 */
        url("../fonts/EMcomic_Bold.svg#emcomic_bold") format("svg"); /* 6 */
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "EMcomic";
    src: url("../fonts/EMcomic-Italic_Italic.eot"); /* 1 */
    src: url("../fonts/EMcomic-Italic_Italic.eot?#iefix") format("embedded-opentype"), /* 2 */
        url("../fonts/EMcomic-Italic_Italic.woff2") format("woff2"), /* 3 */
        url("../fonts/EMcomic-Italic_Italic.woff") format("woff"), /* 4 */
        url("../fonts/EMcomic-Italic_Italic.otf") format("opentype"), /* 5 */
        url("../fonts/EMcomic-Italic_Italic.ttf") format("truetype"), /* 5 */
        url("../fonts/EMcomic-Italic_Italic.svg#emcomic_italic") format("svg"); /* 6 */
    font-style: oblique;
    font-weight: normal;
}

@font-face
{
    font-family: "EMcomic";
    src: url("../fonts/EMcomic_Bold.eot"); /* 1 */
    src: url("../fonts/EMcomic_Bold.eot?#iefix") format("embedded-opentype"), /* 2 */
        url("../fonts/EMcomic_Bold.woff2") format("woff2"), /* 3 */
        url("../fonts/EMcomic_Bold.woff") format("woff"), /* 4 */
        url("../fonts/EMcomic_Bold.otf") format("opentype"), /* 5 */
        url("../fonts/EMcomic_Bold.ttf") format("truetype"), /* 5 */
        url("../fonts/EMcomic_Bold.svg#emcomic_bold") format("svg"); /* 6 */
    font-style: normal;
    font-weight: bold;
}