/**
 * @STYLE
 * =============================================================================
 *
 * style.css v0.0.1 | GNU GPL License | 
 *
 */

/*
 * This file is part of Aforcado game.
 *
 * Aforcado game is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * Aforcado game is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
 * Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Aforcado game. If not, see <https://www.gnu.org/licenses/>.
 *
 */

/*
 * Indice
 * -------
 * @BASIC
 * @CABECEIRA
 * @CONTIDO
 *      @PUNTUACIONS
 *      @TABOLEIRO
 * @PE
 */

/*
 * @BASIC
 * @ACCESIBILIDADE
 */

html
{
    font-size: 16px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'EMcomic', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}

/*
 * @CABECEIRA
 */

header#cabeceira
{
    font-weight: bold;
    text-align: center;
}

/*
 * @CONTIDO
 */

main#contido form
{
    max-width: 750px;

    margin: 0 auto;

    text-align: center;
}

main#contido form.activo
{
    display: block;
}

/*
 * @PUNTUACIONS
 */

form#puntuacions
{
    display: none;
}

form#puntuacions span
{
    padding-left: 50px;
}

/*
 * @TABOLEIRO
 */

form#taboleiro
{
    display: none;
}

div#contedor_xogo
{
    display: grid;
    grid-template-columns: 50% 50%;
}

section#letras, section#patibulo, section#dificultad
{
    min-height: 100px;
    width: 100%;
}

section#dificultad
{
    display: none;
}

section#dificultad.activo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 30px;
    grid-template-areas: 'titulo_dif titulo_dif titulo_dif';
}

section#dificultad h3
{
    grid-area: titulo_dif;
}

section#letras
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'titulo_let titulo_let titulo_let titulo_let';
}

section#letras h3
{
    grid-area: titulo_let;
}

section#letras input.error
{
    color: #ff0000;
}

section#letras input.valida
{
    color: #11aa11;
}

div#imagenes
{
    height: 376px;
    width: 376px;
}

div#adivinado span.letra
{
    margin: 5px;

    padding: 0 8px;

    border-bottom: 2px solid #000;
}
/*
 * @PE
 */

footer#pe
{
    font-style: oblique;
    text-align: center;
}

/*
 * @ACCESIBILIDADE
 */

 #skip a
 {
     left:-10000px;
     position:absolute;
     top:auto;
 
     height:1px;
     overflow:hidden;
     width:1px;
 }
  
 #skip a:focus
 {
     position:static;
 
     height:auto;
     width:auto;
 }
 
 .accesibilidade
 {
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
 
     position: absolute;
 
     height: 1px;
     overflow: hidden;
     width: 1px;
 
     margin: -1px;
         
     padding: 0;
 }